<section id="student_details">
    <h1>hello {{student.firstname}}</h1>
    <p>your detailed infos: </p>
    <ul>
        <li>full name : {{ student.firstname }} - {{ student.lastname }}</li>
        <li>{{ student.email }}</li>
        <li>age: {{ student.age }}</li>
        <li>cohort: {{ student.cohort }}</li>
    </ul>
</section>

{{!-- section>h1+p+ul --}}